.logo {
  margin-right: 20px;
  font-family: "monospace";
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-decoration: none;
  color: black;
}

.menu-box {
  display: flex;
  flex-grow: 1;
  justify-content: left;
  position: relative;
  padding-left: 70px;
}

.menu-button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 80px;
  font-size: 16px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  z-index: 2;
  padding: 10px 90px;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.dropdown-item {
  padding: 10px;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
