/* userpage.css */

/* mypage button 카드 스타일 */
.user-card {
  height: 170px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #ddd; /* 기본 테두리 */
}

/* 호버 효과 */
.user-card:hover {
  border: 2px solid #000000 !important; /* 테두리 진하게 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 살짝 그림자 추가 */
  transform: scale(1.05); /* 약간 확대 */
}

.custom-header th {
  font-weight: normal;
  font-size: 0.85rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div:not([role]),
label:not([for]),
strong,
em,
b,
i,
ul,
ol,
li,
td,
th,
table,
tbody,
thead,
tr,
img,
figure,
figcaption,
small,
code,
pre,
blockquote,
section,
article,
aside,
header,
footer,
main,
nav {
  outline: none;
  caret-color: transparent; /* ← 커서 숨김 */
  -webkit-user-select: none;
  -ms-user-select: none;

  &:focus {
    outline: none;
    caret-color: transparent;
  }
}
